/* TODO: MAKE RESPONSIVE */

#select-name-container {
    width: 100%;
}

#select-name-text {
    margin: 0px;
    padding-top: 5vh;
    text-align: center;
    font-size: 10vmin;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #ff00db;
    width: 100%;
}

#select-button-container {
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-button {
    color: #FFF;
    text-align: center;
    display: inline-flex;
    align-items: center;
    font-size: 6vmin;
    justify-content: center;
}

#select-button-host {
    background-color: #ff0040;
}

#select-button-join {
    background-color: #00ff6b;
}

@media screen and (orientation: landscape) {
    #select-button-container {
        flex-direction: row;
        height: 85%;
    }
    .select-button {
        margin-left: 2vw;
        margin-right: 2vw;
        width: 40vw;
        height: 80%;
    }
    #select-name-container {
        height: 15%;
    }
}

@media screen and (orientation: portrait) {
    #select-button-container {
        flex-direction: column;
        height: 90%;
    }
    .select-button {
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 80vw;
        height: 40%;
    }
    #select-name-container {
        height: 10%;
    }
}
