<div id="join-top">
    <span id="join-back-button">BACK</span>
</div>
<div id="join-input-container">
    <form id="join-form">
        <input type="text" class="join-ghost-input" placeholder="GAME PIN" maxlength="4" id ="join-pin" autocomplete="off" required> 
        <input type="text" class="join-ghost-input" placeholder="YOUR NAME" maxlength="20" id="join-name" autocomplete="off" required>
        <input type="button" class="join-ghost-button" id="join-join-button" value="JOIN!">        
        <div id="join-error-container">
            <p id="join-error"></p>
        </div>
    </form>
</div>
